.dropdownlist {
   min-width: 200px;
   width: calc(100% - 150px);
   margin: 0 auto;

   @include phone {
      width: 100%;
   }

   &__title {
      background-color: #ff6060;
      color: white;
      border-radius: 5px;
      padding: 5px;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;

      cursor: pointer;
      margin-bottom: 20px;
      &--name {
         margin: 0;
      }
      h2 {
         color: white;
      }
   }
   &__text {
      color: #ff6060;
      padding-left: 15px;
      background-color: #f7f7f7;
      margin-bottom: 20px;
      font-size: 18px;
   }
   ul {
      padding: 0;
      li {
         list-style: none;
         font-size: 18px;
      }
   }
}
