.error404 {
   font-weight: 700;
}

.error__container {
   color: #ff6060;
   text-align: center;
   margin-bottom: 150px;
   &--title {
      font-size: 288px;
      font-weight: 700;
      margin-bottom: 66px;
   }
   &--text {
      margin-bottom: 182px;
      font-size: 36px;
   }
   &--link {
      &:visited {
         color: #ff6060;
      }
   }
}
