.home__content {
   display: flex;

   @include phone {
      flex-wrap: wrap;
   }

   .left {
      width: 50%;
      display: inline-block;
      @include phone {
         width: 100%;
      }
   }
   .right {
      width: 50%;
      display: inline-block;
      text-align: right;
      @include phone {
         width: 100%;
         text-align: initial;
         display: flex;
         justify-content: space-between;
         flex-direction: row-reverse;
         align-items: center;
      }
      .contact-info {
         &__container {
            display: flex;
            align-content: center;
            justify-content: flex-end;
            align-items: center;
            color: $color-primary;
            & img {
               width: 64px;
               height: 64px;
               border-radius: 100%;
               margin: 10px;
            }
         }
      }
   }
}

.home__banner {
   position: relative;
   text-align: center;
   color: white;
   z-index: 1;
   margin-bottom: 25px;
   &--img {
      width: 100%;
      border-radius: 25px;
      z-index: 2;
      filter: brightness(70%);
      height: 223px;
      object-fit: cover;
      @include phone {
         height: 111px;
      }
   }
   &--title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      margin: 0;
      @include phone {
         font-size: 24px;
         text-align: left;
         transform: translate(-90%, -60%);
      }
   }
}

.home__container {
   background-color: #f7f7f7;
   border-radius: 25px;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;

   margin: 50px;
   @include phone {
      margin: 0px;
   }
   & a {
      text-decoration: none;
   }
}
.home__container-dropdownlists {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;

   @include phone {
      flex-direction: column;
   }
   & .dropdownlist:first-child {
      padding-right: 20px;
      @include phone {
         padding-right: 0px;
      }
   }
}
