@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 160px;
  margin-top: 50px;
  width: 100%;
  padding-top: 50px;
  position: absolute;
  left: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff6060;
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 905px) {
  header {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 905px) {
  header img {
    width: 75%;
    min-width: 110px;
  }
}

header nav a {
  margin-left: 20px;
  font-weight: 500;
  text-decoration: none;
}

header nav a.selected {
  text-decoration: underline;
}

header nav a:visited {
  color: #ff6060;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 905px) {
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
}

main h1,
main h2 {
  color: #ff6060;
}

main h1 {
  font-size: 36px;
  margin-bottom: 0px;
}

main h2 {
  margin-top: 0px;
  font-size: 18px;
}

.tag {
  background: #ff6060;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
  padding: 5px 25px 5px 25px;
  font-size: 14px;
  color: white;
}

.thumb {
  width: 340px;
  height: 340px;
  margin-right: 25px;
  margin-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6060), to(#803030));
  background: linear-gradient(180deg, #ff6060 0%, #803030 100%);
  border-radius: 10px;
}

@media (max-width: 905px) {
  .thumb {
    width: 100%;
    margin-right: 0px;
  }
}

.thumb__figure {
  margin: 0;
}

.thumb__figure--img {
  border-radius: 10px 10px 0px 0px;
  width: 340px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 905px) {
  .thumb__figure--img {
    width: 100%;
  }
}

.thumb__figure--caption {
  color: white;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.carroussel .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 10px 0 10px;
  position: relative;
  bottom: calc((415px / 2) + 48px);
  margin-bottom: -100px;
}

.carroussel .control i {
  cursor: pointer;
  text-align: center;
  font-size: 96px;
  color: white;
}

.dropdownlist {
  min-width: 200px;
  width: calc(100% - 150px);
  margin: 0 auto;
}

@media (max-width: 905px) {
  .dropdownlist {
    width: 100%;
  }
}

.dropdownlist__title {
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

.dropdownlist__title--name {
  margin: 0;
}

.dropdownlist__title h2 {
  color: white;
}

.dropdownlist__text {
  color: #ff6060;
  padding-left: 15px;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  font-size: 18px;
}

.dropdownlist ul {
  padding: 0;
}

.dropdownlist ul li {
  list-style: none;
  font-size: 18px;
}

.error404 {
  font-weight: 700;
}

.error__container {
  color: #ff6060;
  text-align: center;
  margin-bottom: 150px;
}

.error__container--title {
  font-size: 288px;
  font-weight: 700;
  margin-bottom: 66px;
}

.error__container--text {
  margin-bottom: 182px;
  font-size: 36px;
}

.error__container--link:visited {
  color: #ff6060;
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 905px) {
  .home__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.home__content .left {
  width: 50%;
  display: inline-block;
}

@media (max-width: 905px) {
  .home__content .left {
    width: 100%;
  }
}

.home__content .right {
  width: 50%;
  display: inline-block;
  text-align: right;
}

@media (max-width: 905px) {
  .home__content .right {
    width: 100%;
    text-align: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home__content .right .contact-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff6060;
}

.home__content .right .contact-info__container img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin: 10px;
}

.home__banner {
  position: relative;
  text-align: center;
  color: white;
  z-index: 1;
  margin-bottom: 25px;
}

.home__banner--img {
  width: 100%;
  border-radius: 25px;
  z-index: 2;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 905px) {
  .home__banner--img {
    height: 111px;
  }
}

.home__banner--title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  margin: 0;
}

@media (max-width: 905px) {
  .home__banner--title {
    font-size: 24px;
    text-align: left;
    -webkit-transform: translate(-90%, -60%);
            transform: translate(-90%, -60%);
  }
}

.home__container {
  background-color: #f7f7f7;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 50px;
}

@media (max-width: 905px) {
  .home__container {
    margin: 0px;
  }
}

.home__container a {
  text-decoration: none;
}

.home__container-dropdownlists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

@media (max-width: 905px) {
  .home__container-dropdownlists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home__container-dropdownlists .dropdownlist:first-child {
  padding-right: 20px;
}

@media (max-width: 905px) {
  .home__container-dropdownlists .dropdownlist:first-child {
    padding-right: 0px;
  }
}
/*# sourceMappingURL=index.css.map */