@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
   font-family: "Lato";
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #ff6060;
   margin: 50px;
   margin-left: 100px;
   margin-right: 100px;
   nav {
      a {
         margin-left: 20px;
         font-weight: 500;
         text-decoration: none;
         &.selected {
            text-decoration: underline;
         }
         &:visited {
            color: #ff6060;
         }
      }
   }
}
main {
   margin-left: 100px;
   margin-right: 100px;
   h1,
   h2 {
      color: #ff6060;
   }
   h1 {
      font-size: 36px;
      margin-bottom: 0px;
   }
   h2 {
      margin-top: 0px;
      font-size: 18px;
   }
}
.home__content {
   display: flex;
   .left {
      width: 50%;
      display: inline-block;
   }
   .right {
      width: 50%;
      display: inline-block;
      text-align: right;

      .contact-info {
         display: flex;
         align-content: center;
         justify-content: flex-end;
         align-items: center;
         color: #ff6060;
         & img {
            width: 64px;
            height: 64px;
            border-radius: 100%;
            margin: 10px;
         }
      }
   }
}

.home__banner {
   position: relative;
   text-align: center;
   color: white;
   z-index: 1;
   margin-bottom: 25px;
   &--img {
      width: 100%;
      border-radius: 25px;
      z-index: 2;
      filter: brightness(70%);
      height: 415px;
      object-fit: cover;
   }
   &--title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
   }
}

footer {
   background-color: black;
   color: white;
   text-align: center;

   height: 160px;
   margin-top: 50px;
   width: 100%;
   padding-top: 50px;
   position: absolute;
   left: 0px;
}

.home__container {
   background-color: #f7f7f7;
   border-radius: 25px;

   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   justify-content: center;

   & a {
      text-decoration: none;
   }
}

.tag {
   background: #ff6060;
   border-radius: 10px;
   display: inline-block;
   margin-right: 10px;
   padding: 5px 25px 5px 25px;

   font-size: 14px;
   color: white;
}

.thumb {
   width: 340px;
   height: 340px;

   margin-right: 25px;
   margin-bottom: 25px;

   background: linear-gradient(180deg, #ff6060 0%, rgb(128, 48, 48) 100%);
   border-radius: 10px;

   &__figure {
      margin: 0;
      &--img {
         border-radius: 10px 10px 0px 0px;
         width: 340px;
         height: 280px;
         object-fit: cover;
      }
      &--caption {
         color: white;
         font-size: 18px;
         margin-left: 10px;
         margin-right: 10px;
         margin-top: 10px;
      }
   }
}
.container {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   & .dropdownlist:first-child {
      padding-right: 20px;
   }
}

.dropdownlist {
   min-width: 200px;
   width: calc(100% - 80px);
   margin: 0 auto;

   &__title {
      background-color: #ff6060;
      color: white;
      border-radius: 5px;
      padding: 5px;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;

      cursor: pointer;
      margin-bottom: 20px;
      &--name {
         margin: 0;
      }
      h2 {
         color: white;
      }
   }
   &__text {
      color: #ff6060;
      padding-left: 15px;
      background-color: #f7f7f7;
      margin-bottom: 20px;
      font-size: 18px;
   }
   ul {
      padding: 0;
      li {
         list-style: none;
         font-size: 18px;
      }
   }
}

.error404 {
   font-weight: 700;
}

.error__container {
   color: #ff6060;
   text-align: center;
   margin-bottom: 150px;
   &--title {
      font-size: 288px;
      font-weight: 700;
      margin-bottom: 66px;
   }
   &--text {
      margin-bottom: 182px;
      font-size: 36px;
   }
   &--link {
      &:visited {
         color: #ff6060;
      }
   }
}
