main {
   margin-left: 100px;
   margin-right: 100px;

   @include phone {
      margin-left: 20px;
      margin-right: 20px;
   }

   h1,
   h2 {
      color: $color-primary;
   }
   h1 {
      font-size: 36px;
      margin-bottom: 0px;
   }
   h2 {
      margin-top: 0px;
      font-size: 18px;
   }
}
